.section-price-services{
    display: flex;
    flex-wrap: wrap;
}
.section-price-services h2{
    font-size: 3em;
    margin-bottom: 30px;
    width: 100%;
}

.section-price-services__content{
    display: flex;
    gap: 50px;
    width: 100%;
}

.section-price-services  .col1{}

.section-price-services  .col1 .services-list{
    display: flex;
    flex-direction: column;

    gap: 4px;
    width: clamp(300px, 100%, 100%);
}
.section-price-services  .col1 .services-list .service-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 4px;
    max-height: 48px;
    overflow: hidden;
    transition: linear .3s;
}


.service-list .caption .chevron{
    width: 16px;
    transition: .2s;
    user-select: none;
}
.service-list .caption .chevron.rotate180{
    transform: rotate(180deg);
}

.section-price-services  .col1 .services-list .caption{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    cursor: pointer;
}
.section-price-services  .col1 .service-list .caption{
    min-height: 48px;
    gap: 10px;
    padding: 10px 16px;
    background-color: rgba(9, 141, 54, 0.15);
}
.services-list_caption{
    margin-bottom: 10px;
}
.section-price-services  .col1 .services-list .service-list .sub-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    padding: 10px 16px;
    width: 100%;
    min-height: 48px;
    font-size: .9em;
    background-color: whitesmoke;
}
.section-price-services  .col1 .services-list .service-list .sub-item .price{
    font-weight: bold;
}

.section-price-services  .col2{}


.section-price-services__content .col1, .section-price-services__content .col2{
    width: 50%;
}


@media screen and (max-width: 1025px) {
    .section-price-services__content{
        flex-direction: column;
    }
    .section-price-services__content .col1, .section-price-services__content .col2{
        width: 100%;
    }
}
@media screen and (max-width: 769px) {

}
@media screen and (max-width: 426px) {

}
@media screen and (max-width: 321px) {
    .section-price-services  .col1 .services-list .caption{
        font-size: .9em;
    }
}