.section{
    width: 100%;
    padding: 0 160px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 1025px) {
    .section{
        padding: 0 80px;
    }

}


@media screen and (max-width: 769px) {
    .section{
        padding: 0 25px;
    }
}


@media screen and (max-width: 426px) {
    .section{
        padding: 0 12px;
    }
}


@media screen and (max-width: 321px) {

}