.section-seo-content{

}
.section-seo-content h2{
    font-size: 1.2em;
    font-weight: bold;
}
.section-seo-content p{
}
.section-seo-content .picture{
}
.section-seo-content .picture img{
    width: 240px;
}


@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 769px) {
    .section-seo-content p{
        font-size: .8em;
    }

}
@media screen and (max-width: 426px) {

}
@media screen and (max-width: 321px) {

}