.section-we-serve{

}
.section-we-serve .title{
    font-size: 2.6em;
    font-weight: bold;
}
.section-we-serve .brands{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 50px;
}
.section-we-serve .brands .item{
    display: flex;
    justify-content: center;
    width: calc(25% - 40px);
    padding: 20px 0;
    background-color: whitesmoke;
}
.section-we-serve .brands .item img{
}


@media screen and (max-width: 1025px) {

}
@media screen and (max-width: 769px) {

}
@media screen and (max-width: 426px) {
    .section-we-serve .brands{
        justify-content: center;
    }
    .section-we-serve .brands .item{
        width: calc(50% - 40px);
        padding: 10px 0;
    }

}
@media screen and (max-width: 321px) {

}